body {
	margin: 0;
	background-color: #1C82AD;
}

p {
	margin: 0;
}

.title {
	text-align: center;
	font-size: 4rem;
	font-family: 'Rowdies', cursive;
	font-style: italic;
}

/*Game Box*/

.game-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 2%;
	justify-content: stretch;
}

.gamebox {
	border-radius: 25px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 1;
	background-color: darkgrey;
	border: solid black 6px;
}

.clue {
	letter-spacing: 15px;
	text-align: center;
	font-size: 3rem;
	font-family: monospace;
	
}

.img-container {
	grid-column-start: 3;
	grid-column-end: -1;
	grid-row: 1;
	width: 8%;
	margin: 0;
	padding: 70px 0;
}

.drawing {
	border: double #13005A 3px;
	width: 150px;
	text-align: center;
}

/*Keyboard*/

.keyboard {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 1fr 1fr;
	grid-gap: 3%;

	border: solid black 6px;
	/*background-color: #13005A;*/
	background-image: url('images/woodgrain.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 25px;
}

.keybutton {
	color: white;
	background-color: #13005A; /* 800337C; */
	margin: 0 8px;
	font-size: min(5vw, 2rem);
	font-family: serif;
	padding: 3px;
	border-radius: 55px;
	width: 40px;
}

.keyrow {
	display: flex;
	justify-content: space-between;
	margin: 1%;
}

button:disabled {
	opacity: 0.5;
}